// @import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

.txt---600-28-36-bold {
  font-weight: 600 !important;
  font-size: 28px !important;
  line-height: 36px !important;
  font-family: "Helvetica", sans-serif !important;
}

.txt---600-24-32-bold {
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  font-family: "Helvetica", sans-serif !important;
}

.txt---600-18-22-bold {
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  font-family: "Helvetica", sans-serif !important;
}

.txt---600-16-20-bold {
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  font-family: "Helvetica", sans-serif !important;
}

.txt---600-14-18-bold {
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-family: "Helvetica", sans-serif !important;
}

.txt---400-16-20-regular {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  font-family: "Helvetica", sans-serif !important;
}

.txt---600-14-22-bold {
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  font-family: "Helvetica", sans-serif !important;
}

.txt---400-14-22-regular {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  font-family: "Helvetica", sans-serif !important;
}

.txt---400-14-18-regular {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-family: "Helvetica", sans-serif !important;
}

.txt---600-12-16-bold {
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  font-family: "Helvetica", sans-serif !important;
}

.txt---400-12-16-regular {
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  font-family: "Helvetica", sans-serif !important;
}

.txt---600-10-14-bold {
  font-weight: 600 !important;
  font-size: 10px !important;
  line-height: 14px !important;
  font-family: "Helvetica", sans-serif !important;
}

.txt---400-10-14-regular {
  font-weight: 400 !important;
  font-size: 10px !important;
  line-height: 14px !important;
  font-family: "Helvetica", sans-serif !important;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.d-ib {
  display: inline-block;
}

.d-f {
  display: flex;
}

.d-b {
  display: block;
}
